<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css"
        integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Shop" class="logo">
            <a class="navbar-brand" href="/">DukaPOS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sales">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stock">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="hero">
        <h1>Manage Your Shop with Ease.</h1>
        <p class="one">MyDuka is a web-based Point of Sale and Inventory Management System designed <br> for small
            retail shops. It helps shop owners manage products, monitor stock, <br> process sales, and track business
            performance from
            one place.</p>
    </section>

    <h1>CATEGORIES</h1>
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <img src="{{ url_for('static', filename='images/drink.webp') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Drinks</h5>
                    <p class="card-text">Refreshing beverages for every occasion.</p>
                    <a href="#" class="button">View products</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="{{ url_for('static', filename='images/groceries.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Groceries</h5>
                    <p class="card-text">Daily essentials for your home and kitchen.</p>
                    <a href="#" class="button">View products</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="{{ url_for('static', filename='images/household.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Household Items</h5>
                    <p class="card-text">Everything you need to keep your home clean.</p>
                    <a href="#" class="button">View products</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <img src="{{ url_for('static', filename='images/care.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Personal care</h5>
                    <p class="card-text">Quality products for your everyday personal needs</p>
                    <a href="#" class="button">View products</a>
                </div>
            </div>
        </div>
    </div>

    <h1>Why Choose MyDuka</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="card-1">
                <div class="card-body">
                    <h5 class="card-title">Product and Sales Management</h5>
                    <p class="card-text">Manage products efficiently.Track every sale with confidence</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card-1">
                <div class="card-body">
                    <h5 class="card-title">Inventory Tracking</h5>
                    <p class="card-text">Monitor stock levels in real time.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card-1">
                <div class="card-body">
                    <h5 class="card-title">Fast Performance</h5>
                    <p class="card-text">Fast and reliable for daily operations.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card-1">
                <div class="card-body">
                    <h5 class="card-title">User Friendly</h5>
                    <p class="card-text">Designed with a clean layout for a smooth user experience.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card-1">
                <div class="card-body">
                    <h5 class="card-title">Secure Login</h5>
                    <p class="card-text">Protect your business with secure access.</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <hr>
        <h3>Duka POS</h3>
        <p>Manage your shop with confidence using our <br> Point of Sale and Inventory Management System.</p>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <h4>Quick Links</h4>
                <a href="/">Home</a> <br>
                <a href="/products">Products</a> <br>
                <a href="/sales">Sales</a> <br>
                <a href="/register">Register</a> <br>
            </div>
            <div class="col-lg-4">
                <h4>Features</h4>
                <ul>
                    <li>Products</li>
                    <li>Sales</li>
                    <li>Inventory</li>
                    <li>Security</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Contacts</h4>
                <i class="fa-brands fa-square-facebook fa-2xl" style="color: rgb(116, 192, 252);">Facebook</i> <br>
                <i class="fa-brands fa-square-whatsapp fa-2xl" style="color: rgb(99, 230, 107);">Whatsapp</i> <br>
                <i class="fa-brands fa-square-instagram fa-2xl" style="color: rgb(191, 31, 153);">Instagram</i> <br>
                <i class="fa-brands fa-square-linkedin fa-2xl" style="color: rgb(116, 192, 252);">Linkedin</i> <br>
            </div>
        </div>
        <hr>
        <p>© 2026 MyDuka POS. All Rights Reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
</body>

</html>